<app-header></app-header>
<form (ngSubmit)="loginForm.valid && validateUser(loginForm) " #loginForm="ngForm" >
    <span>Sign In</span>
    <div class="form-group">
        <input type="email" class="form-control" name="email" id="email" placeholder="Email" required
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="model.email" 
        #email="ngModel" />
        <small class="text-danger" *ngIf="(email.touched || loginForm.submitted) &&
        email.errors?.['required']">Valid email required</small>
    </div>

    <div class="form-group">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" required
            [(ngModel)]="model.password" #password="ngModel" />
        <small class="text-danger" *ngIf="(password.touched || loginForm.submitted) &&
            password.errors?.['required']">Password required</small>
    </div>
    <div>
    <button type="submit" class="btn btn-success mt-3 m-2">Login</button>
    <a routerLink="/register"  class="btn btn-success mt-3 m-2" >Register</a>
    </div>
</form>
